<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script type="text/javascript">
 
 function a(){
var i=0;
function b(){
alert(++i);
}
return i;
}
var c=a();

let m =(function(){
    return function(){
        return 6
    }
})()
let nn =m
function curry(fn){
    let args = Array.prototype.slice.call(arguments,1)
    console.log(arguments,111)
    return function(){
        var innerArgs = Array.prototype.slice.call(arguments)
       
        var finnalArgs = args.concat(innerArgs)
        console.log(arguments,'arguments',innerArgs,'innerArgs',finnalArgs,'finnalArgs')
        return fn.apply(null,finnalArgs)
    }
    
}
function myadd(num1,num2){
    return num1+num2
}
let res = curry(myadd,5,64)
console.log(res(78),58858)




curry(333)
let ppa = [1,2,5]
console.log(ppa.slice())
console.log(ppa)
function add() {
    // 第一次执行时，定义一个数组专门用来存储所有的参数
    var _args = Array.prototype.slice.call(arguments);

    // 在内部声明一个函数，利用闭包的特性保存_args并收集所有的参数值
    var _adder = function() {
        _args.push(...arguments);
        console.log(_args)
        return _adder;
    };
    console.log(_args,5555)
    // 利用toString隐式转换的特性，当最后执行时隐式转换，并计算最终的值返回
    _adder.toString = function () {
        return _args.reduce(function (a, b) {
            return a + b;
        });
    }
    return _adder;
}
const dsa =[1,5,6]
dsa[9]=100
console.log(dsa,5555) 
console.log(add(1)(2)(3)(4)(5)())
function* mynumbers(){
    for(let i=0;i<10;i++){
        yield i*2
    }
}

var generator = mynumbers()
console.log(generator.next())
console.log(generator.next())
console.log(generator.next())
console.log(generator.next())
var person={
    name:'linyuan',
    age:29
}
function dd(){
    return 55
}
function ss(){
    setTimeout(() => {
       return 666
    }, 5000);
}
async function aw(){
    console.log(dd)
    
    await ss()
    let m =await ss()
    let res = await dd()
    console.log(m)
    console.log(res)
}
aw()

    </script>
</body>
</html>